{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main class="contenair">
    <h1 class="text-center mb-5">page acceuil</h1>
</main>
{% endblock %}
